.solution {
  margin-top: 80px;
  margin-bottom: 80px;
}

.solution__span {
  margin-bottom: 22px;
  display: block;
  text-align: center;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: var(--gradients-pink-100-text, linear-gradient(90deg, #4343FF 0%, #F96D6D 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solution__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  font-family: Darker Grotesque;
  max-width: 845px;
  font-size: 46px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: #110C11;
}

.solution__blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.solution__block {
  padding: 22px;
  max-width: 343px;
  background-color: #FFF;
}

.solution__block-title {
  margin-bottom: 28px;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #110C11;
}

.solution__block-descr {
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 152.941% */
  color: #5C5C5C;
}