.title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
  font-family: Darker Grotesque;
  width: 845px;
  font-size: 46px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;

  color: #110C11;

}