.block {
  padding: 22px;
  max-width: 343px;
  background-color: #ffffff;
}

.title {
  margin-bottom: 28px;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: #110C11;
}

.descr {
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 152.941% */
  color: #5C5C5C;
}