@import './libs/normalize';

body {
  background: #F9F9FA;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1410px;
}



.promote {
  margin-top: 150px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promote__title {
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  color: #333;
}

.promote__descr:first-of-type {
  margin-bottom: 33px;
  width: 736px;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

.promote__descr:nth-of-type(2) {
  margin-bottom: 73px;
  width: 736px;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
}

.promote__images {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  gap: 18px;
}

.promote__visible {
  width: 100%;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  background-color: #0079C8;
}

.promote__visible-title {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #FFF;
}

.promote__visible-descr {
  font-family: Montserrat;
  width: 483px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.25;
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
}

.promote__visible-button {
  padding: 20px 38px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  color: #0079C8;
  border-radius: 4px;
  background: #FFF;
}

.progress {
  margin-top: 80px;
  width: 306px;
  margin-bottom: 80px;
  padding: 24px 32px;
  border-radius: 5px;
  background: var(--white, #FFF);
}

.progress__span {
  margin-bottom: 8px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #515151;
}

.progress__title {
  margin-bottom: 24px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #061B36;
}

.progress__bar {

}

.progress__types {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.progress__type {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.progress__type-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress__type-name {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  color:  #061B36;
}

.progress__bar-number {
  margin-bottom: 8px;
  color: #77BB2F;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progress__band {
  margin-bottom: 24px;
  height: 4px;
  position: relative;
  background: #EEF3F7;
  border-radius: 5px;
}

.progress__band span {
  display: block;
  width: 46%;
  height: 4px;
  background-color: #77BB2F;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}