@import './libs/normalize';

body {
  background: #F9F9FA;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1410px;
}

.progress {
  margin-top: 80px;
  width: 306px;
  margin-bottom: 80px;
  padding: 24px 32px;
  border-radius: 5px;
  background: var(--white, #FFF);
}

.progress__span {
  margin-bottom: 8px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #515151;
}

.progress__title {
  margin-bottom: 24px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  color: #061B36;
}

.progress__bar {

}

.progress__types {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.progress__type {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.progress__type-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress__type-name {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
  color:  #061B36;
}

.progress__bar-number {
  margin-bottom: 8px;
  color: #77BB2F;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.progress__band {
  margin-bottom: 24px;
  height: 4px;
  position: relative;
  background: #EEF3F7;
  border-radius: 5px;
}

.progress__band span {
  display: block;
  width: 46%;
  height: 4px;
  background-color: #77BB2F;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}